{
  "openapi": "3.1.0",
  "info": {
    "title": "Coloring Dictionary API",
    "version": "0.2.0",
    "description": "Performability surface for signup, AIWEB VCAP tracking, public brand/book facts, and authenticated owner seed. Private CRM/finance are not exposed here."
  },
  "servers": [
    { "url": "https://coloringdictionary.com" }
  ],
  "paths": {
    "/api/signup": {
      "post": {
        "summary": "Join launch updates list",
        "operationId": "signup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "consent"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "source": { "type": "string", "default": "website" },
                  "consent": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Signed up" },
          "503": { "description": "Signup not open yet" }
        }
      }
    },
    "/api/vcap/hit": {
      "post": {
        "summary": "Record a VCAP / HITS access event",
        "operationId": "vcapHit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["surface", "path"],
                "properties": {
                  "sourceRegistry": { "type": "string", "example": "coloringdictionary" },
                  "slug": { "type": "string", "example": "coloring-dictionary" },
                  "surface": { "type": "string" },
                  "httpStatus": { "type": "integer", "default": 200 },
                  "path": { "type": "string" },
                  "userAgent": { "type": "string" },
                  "meta": { "type": "object", "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted into outbox" },
          "400": { "description": "Invalid payload" }
        }
      }
    },
    "/api/owner/seed": {
      "post": {
        "summary": "Seed Firestore from staged public seed JSON (owner token required)",
        "operationId": "ownerSeed",
        "description": "Protected. Does not overwrite editorialLocked entry fields unless force=true.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string" },
                  "force": { "type": "boolean", "default": false },
                  "maxFlowers": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Seed report" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/brand.json": {
      "get": {
        "summary": "Brand facts",
        "operationId": "getBrand",
        "responses": { "200": { "description": "Brand JSON" } }
      }
    },
    "/book.json": {
      "get": {
        "summary": "Book metadata",
        "operationId": "getBook",
        "responses": { "200": { "description": "Book JSON" } }
      }
    },
    "/data/seed/manifest.json": {
      "get": {
        "summary": "Imported workbook seed manifest",
        "operationId": "getSeedManifest",
        "responses": { "200": { "description": "Manifest JSON" } }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Machine-readable site overview",
        "operationId": "getLlms",
        "responses": { "200": { "description": "Plain text" } }
      }
    },
    "/webmcp.json": {
      "get": {
        "summary": "WebMCP capability descriptor",
        "operationId": "getWebMcp",
        "responses": { "200": { "description": "WebMCP JSON" } }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "summary": "ChatGPT plugin manifest",
        "operationId": "getAiPlugin",
        "responses": { "200": { "description": "ai-plugin.json" } }
      }
    }
  }
}
